/* Articles */
.article__title {
   color: #ffffff;
   font-size: 1.8em;
   font-weight: 500;
   line-height: 37px;
   letter-spacing: 2px;
   text-decoration: none;
}

.article__published {
   color: #5f9ea0;
   font-size: 1.1em;
   line-height: 25px;
   letter-spacing: 2px;
   margin: 15px 0 20px 0;
   font-family: monospace;
}

.article__tag {
   float: left;
   padding: 6px;
   color: #ffffff;
   font-size: 1em;
   margin-right: 20px;
   text-align: center;
   font-weight: bolder;
   letter-spacing: 1px;
   font-family: monospace;
   text-transform: lowercase;
   background-color: #51a97d;
}

.article__line {
   margin: 115px 0 50px 0;
   border: 1px solid #253341;
}

.article__title:hover {
   text-decoration: underline;
}