/* Articles */
.articles {
   width: 100%;
   margin-top: 40px;
   box-sizing: border-box;
   border: 1px solid #38444d;
   background-color: #192734;
   padding: 45px 35px 25px 35px;
}

.article__title {
   color: #ffffff;
   font-size: 1.8em;
   line-height: 41px;
   font-weight: bolder;
   letter-spacing: 2px;
   text-decoration: none;
   transition: color 0.2s;
}

.article__published {
   color: #5f9ea0;
   font-size: 1.1em;
   line-height: 25px;
   letter-spacing: 2px;
   margin: 15px 0 20px 0;
   font-family: monospace;
}

.article__tag {
   float: left;
   padding: 6px;
   color: #ffffff;
   font-size: 1em;
   margin-right: 20px;
   text-align: center;
   font-weight: bolder;
   letter-spacing: 1px;
   font-family: monospace;
   text-transform: lowercase;
   background-color: #51a97d;
}

.article__line {
   margin: 115px 0 50px 0;
   border: 1px solid #253341;
}

.article__title:hover {
   color: #8a2be2;
}


/* Responsive Breakpoints */

@media screen and (min-width: 620px) {
   .container {
      width: 70%;
   }
}

@media screen and (min-width: 960px) {
   .container {
      width: 67%;
   }
}

@media screen and (min-width: 1200px) {
   .container {
      width: 38%;
   }
}