/* Navbar */
.navbar {
   top: 0;
   left: 0;
   right: 0;
   height: 70px;
   display: flex;
   color: #ffffff;
   position: fixed;
   align-items: center;
   background-color: #15202b;
   justify-content: space-around;
   box-shadow: 0 0 2px 4px #404a4d33;
}

.navbar__logo {
   font-size: 28px;
   font-weight: bolder;
   letter-spacing: 10px;
   font-family: monospace;
}

/* Container */
.container-home {
   width: 700px;
   display: flex;
   color: #ffffff;
   font-family: Ubuntu;
   flex-direction: column;
   justify-content: center;
   margin: 140px auto 60px auto;
}

/* Collapse */
.collapse__button {
   width: 100%;
   border: none;
   outline: none;
   padding: 15px;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   text-align: left;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

.collapse-button__icon {
   float: right;
   font-weight: bolder;
}

.collapse__button:hover {
   background-color: #38444d;
}

.collapse__content {
   padding: 18px;
   display: none;
   color: #ffffff;
   font-size: 20px;
   overflow: hidden;
   line-height: 24px;
   letter-spacing: 1px;
   box-sizing: border-box;
   font-family: monospace;
   background-color: #192734;
   border-left: 1px solid #253341;
   border-right: 1px solid #253341;
   border-bottom: 1px solid #253341;
}

.collapse-content__list-tag {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 25px;
   align-content: center;
   justify-content: center;
}

.collapse-content__list-tag .link-tag {
   color: #ffffff;
   text-decoration: none;
   transition: color 0.3s, text-decoration 0.3s;
}

.collapse-content__list-tag .link-tag:hover {
   color: #8a2be2;
   text-decoration: underline;
}

.collapse-content__list-tag li {
   margin-top: 25px;
   margin-right: 25px;
   letter-spacing: 2px;
}


/* Articles */
.articles {
   width: 100%;
   margin-top: 40px;
   box-sizing: border-box;
   border: 1px solid #38444d;
   background-color: #192734;
   padding: 45px 35px 25px 35px;
}

.article__title {
   color: #ffffff;
   font-size: 30px;
   line-height: 44px;
   font-weight: bolder;
   letter-spacing: 2px;
   text-decoration: none;
   transition: color 0.2s;
}

.article__published {
   color: #5f9ea0;
   font-size: 20px;
   letter-spacing: 2px;
   margin: 19px 0 24px 0;
   font-family: monospace;
}

.article__tag {
   float: left;
   padding: 6px;
   color: #ffffff;
   font-size: 16px;
   margin-right: 20px;
   text-align: center;
   font-weight: bolder;
   letter-spacing: 1px;
   font-family: monospace;
   text-transform: lowercase;
   background-color: #51a97d;
}

.article__line {
   margin: 115px 0 50px 0;
   border: 1px solid #253341;
}

.article__title:hover {
   color: #8a2be2;
}